<div class="about-content">
    <h2>About me</h2>
    <p>Music has been my companion throughout my life for as long as I can remember. At the age of 4, I discovered the
        piano, and that first encounter marked the beginning of a journey that would lead me to explore other
        instruments such as the cello and, finally, singing. Since then, I have found in music not only a universal
        language, but also a space for expression and personal growth.</p>

    <p>
        At age 16, I took my first steps as a teacher, sharing with others what I myself had learned to love since
        childhood. That early experience reaffirmed my vocation: teaching is not only about transmitting technique, but
        also about inspiring and igniting the same passion that transformed my life.
    </p>
    <p>
        Over time, I obtained my Bachelor's degree in Music and later a Master's degree in Orchestral Conducting, an
        education that has allowed me to understand music from deeper perspectives and connect with it in a
        comprehensive way.
    </p>

    <p>
        Today, I run my own music studio, a space where more than 20 students grow and improve every day. My goal is
        clear: to strive for excellence without losing sight of what drives us, our love and passion for music.
    </p>

    <p>
        Outside of class, I devote my free time to actively participating in musical projects such as conducting
        orchestras and collaborating with colleagues and universities, convinced that music is not only taught, but
        lived and shared.</p>
    <div class="image">
        <app-profile-picture altText="Lily's Picture" size="450px"
            imageUrl="/assets/images/About.jpg"></app-profile-picture>
        <!-- <img src="/assets/images/About.jpg" alt="Lily" style="max-width: 100%;"> -->
    </div>
    <div class="signature">
        <h3>Lily N. Blanchard</h3>
    </div>
</div>