@import './theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Limelight&display=swap');

body {
    margin: 0;
    background-color: var(--color-mustard-600);
    min-height: 100vh;
    color: var(--color-atomic-tangerine-100);
}